.copy {
    min-height: 79px;
    background-color: $black-light-color;

    @include mobile {
        min-height: 143px;
    }


    .copy__list {
        display: flex;
        justify-content: space-around;
        align-items: center;
        min-height: 79px;

        @include mobile {
            flex-direction: column-reverse;
            min-height: 143px;
        }
    }

    .copy__link {
        display: flex;
    }

    .copy__item {
        width: 32px;
        height: 32px;
        padding: 9px;
        background-color: $white-color;
        align-items: center;
        margin-left: 7px;

        &:hover .item__svg {
            fill: $white-color;
        }

        &-svg {
            fill: $black-color;
        }
    }

    .copy__item:hover {
        background-color: $pink-dark-color;
    }

    .copy__text {
        @include font(16px, 19px);
        color: $white-color;
    }
}