.details {
    background-color: $black-light-color;
    min-height: 341px;

    &__list {
        display: flex;
        justify-content: space-between;
        text-align: center;
        min-height: 341px;
        align-items: center;

        // @include tablet {
        //     flex-direction: column
        // }
    }

    &__heading {
        @include font(20px, 24px);
        color: $white-color;
        margin: 25px 0 16px;
    }

    &__text {
        @include font(14px, 17px, 300);
        width: 300px;
        color: $white-dark-color;
    }
}

@media (max-width: 770px) {
    .details__list {
        flex-direction: column;
    }
}