.fetured {
    display: flex;
    flex-direction: column;

    .fetured__heading {
        @include font(30px, 36px);
        text-align: center;
    }

    .fetured__text {
        @include font(14px, 17px);
        color: $grey-color;
        text-align: center;
        margin: 0 0 48px;
    }

    .fetured__list {
        display: grid;
        grid-template-columns: repeat(3, 375px);
        grid-gap: 30px 10px;
        justify-content: center;

        @include tablets {
            max-width: 768px;
            grid-template-columns: repeat(2, 375px);
        }

        @include mobile {
            max-width: 375px;
            grid-template-columns: repeat(1, 375px);
        }
    }

    .fetured__item {
        width: 360px;
        background-color: $grey-light-color;
        position: relative;

        &:hover .fetured__item-over-wrapper {
            display: block;
        }

        @include tablets {
            margin-left: 0;
        }
    }

    .fetured__btn {
        @include font(14px, 17px);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -200%);
        display: flex;
        color: $white-color;
        border: 1px solid white;
        padding: 13px 14px 16px 13px;
    }

    .fetured__heading-item {
        @include font(13px, 16px);
        text-transform: uppercase;
        padding: 25px 0 13px 18px;
    }

    .fetured__text-item {
        @include font(14px, 17px, 300);
        color: $grey-dark-color;
        padding: 0 10px 16px 18px;
    }

    .fetured__price {
        @include font(16px, 19px);
        color: $pink-dark-color;
        padding: 0 0 20px 18px;
    }

    .fetured__browse-product {
        @include font(16px, 19px);
        color: $pink-dark-color;
        padding: 15px 38px;
        background-color: transparent;
        border: 1px solid $pink-dark-color;
        margin: 49px auto 95px;
    }

    .fetured__browse-product:hover {
        background-color: $pink-dark-color;
        color: $white-color;
    }

    .fetured__item-over-wrapper {
        display: none;
    }

    .overlay {
        width: 360px;
        height: 420px;
        background: rgba(58, 56, 56, 0.86);
        position: absolute;
        top: 0;
    }

    .fetured__btn-text {
        padding-left: 13px;
        align-self: center;
    }

    .fetured__filter {
        display: flex;
        margin: 50px 0 64px 20px;
    }

    .fetured__fill {
        @include font(14px, 17px, 600);
        display: flex;
        text-transform: uppercase;
        position: relative;
        margin-left: 6.2%;
    }

    .fetured__fill:hover &__fill-menu {
        display: block;
    }

    .fetured__filter-img {
        margin: 4px 0 0 10px;
        fill: $black-color;
    }

    .fetured__fill-menu-header {
        @include font(14px, 17px, 600);
        display: flex;
        text-transform: uppercase;
        position: relative;
        color: $pink-dark-color;
    }

    .fetured__filter-img--pink {
        fill: $pink-dark-color;
    }

    .fetured__fill-menu {
        display: none;
        position: absolute;
        background-color: $white-color;
        z-index: 1;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
        width: 360px;
        height: 583px;
        padding: 16px 16px 0 16px;
    }

    .fetured__category {
        @include font (14px, 17px);
        text-transform: uppercase;
        color: $grey-opas-color;
        border-bottom: 1px solid $grey-grey-color;
        border-left: 5px solid $pink-dark-color;
        padding: 11px;
        margin-top: 25px;

        &:hover {
            color: $pink-dark-color;
        }
    }

    .fetured__category-details {
        @include font (14px, 17px);
        color: $grey-opas-color;
        margin: 25px;
        text-transform: capitalize;

        li {
            padding-bottom: 11px;
        }

        li:hover {
            color: $pink-dark-color;
        }
    }

    .fetured__img {
        position: absolute;
        top: 3px;
        left: 50px;
    }

    .fetured__fil-details {
        @include font(14px, 17px);
        display: flex;
        color: $grey-opas-color;
        text-transform: uppercase;
        position: absolute;
        left: 42%;
    }

    .fetured__list-item {
        position: relative;
        margin: 0 48px 0 0;
    }

    .fetured__list-item--size {
        position: relative;

        &:hover .fetured__item-size {
            display: block;
        }
    }

    .fetured__item-size {
        display: none;
        width: 80px;
        height: 103px;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
        background-color: $white-color;
        position: absolute;
        z-index: 1;
        top: 25px;
        left: -15px;
        padding: 7px;
    }

    .fetured__item-size-checkbox {
        display: none;
    }

    .fetured__item-size-label {
        @include font(14px, 16px);
        color: $grey-opas-color;
        position: relative;
        display: flex;
        flex-direction: column;
        margin: 5px 0 6px 28px;

        &:before {
            position: absolute;
            content: '';
            width: 12px;
            height: 12px;
            border: 1px solid $grey-grey-color;
            left: -26px;
            top: 1px;
        }
    }

    .fetured__item-size-checkbox:checked+.fetured__item-size-label::before {
        background-color: $input-grey;
        background-size: 12px;
    }

    .fetured__list-item::after {
        content: '';
        position: absolute;
        width: 10px;
        height: 5px;
        background-image: url(../img/arrow.png);
        background-size: 10px 5px;
        top: 7px;
        right: -21px;
    }

    .pages {
        @include font(16px, 19px);
        color: $grey-color;
        padding: 15px 38px;
        background-color: transparent;
        border: 1px solid $grey-color;
        margin: 49px auto 95px;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            width: 8px;
            height: 14px;
            background-image: url('../img/arrowBefore.png');
            background-size: 8px 14px;
            top: 19px;
            left: 15px;
        }

        &::after {
            content: '';
            position: absolute;
            width: 8px;
            height: 14px;
            background-image: url('../img/arrowAfter.png');
            background-size: 8px 14px;
            top: 19px;
            right: 15px;
        }
    }
}