.header {
    background-color: $black-color;

    &__wrapper {
        min-height: 75px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        margin-right: 41px;
    }

    &__button {
        background-color: transparent;
        border: none;
        margin: 0 0 0 33px;
        position: relative;
    }

    &__burger-btn {
        padding-top: 4px;
    }

    &__list {
        display: flex;
        justify-content: space-between;
    }

    &__menu {
        display: flex;
        justify-content: space-between;
    }

    .navigation__esc {
        align-self: right;
        margin: 16px;
    }

    .header__navigation {
        position: absolute;
        right: 0;
        display: none;
        width: 232px;
        min-height: 764px;
        background-color: $white-color;
        outline: $grey-dark-color
    }

    .navigation__header {
        @include font(14px, 17px, 700);
        color: $black-color;
        text-transform: uppercase;
        padding: 37px 33px 12px;
    }

    .header__name {
        @include font(14px, 17px);
        color: $pink-dark-color;
        text-transform: uppercase;
        padding: 20px 12px 0 33px;
    }

    .header__items li {
        @include font(14px, 17px);
        color: $grey-opas-color;
        padding: 11px 0 0 54px;
    }

    .list__items:focus {
        color: $pink-dark-color;
    }

}