.intro {
    display: flex;


    &__heading-box {
        background-color: $pink-color;
        width: 100%;
        display: flex;
        align-items: center;
        padding-left: 60px;
    }

    &__svg {
        margin-right: 16px;
    }

    &__heading {
        @include font(48px, 58px, 900);
        text-transform: uppercase;

        @include tablet {
            @include font (24px, 29px, 700);
        }
    }

    &__text {
        @include font(37px, 44px, 700);
        display: block;
    }

    &__pink {
        color: $pink-dark-color;
    }

    &__img {
        width: 50%;

    }
}